USE [Facturacion]
GO
/****** Object:  Trigger [disparador_linea_incluir]    Script Date: 14/11/2017 13:23:22 ******/
DROP TRIGGER [dbo].[disparador_linea_incluir]
GO
/****** Object:  Trigger [disparador_linea_borrar]    Script Date: 14/11/2017 13:23:22 ******/
DROP TRIGGER [dbo].[disparador_linea_borrar]
GO
/****** Object:  Trigger [disparador_linea_actualiza]    Script Date: 14/11/2017 13:23:22 ******/
DROP TRIGGER [dbo].[disparador_linea_actualiza]
GO
/****** Object:  Trigger [disparador_facturas_borrar]    Script Date: 14/11/2017 13:23:22 ******/
DROP TRIGGER [dbo].[disparador_facturas_borrar]
GO
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK_Productos_Proveedores]
GO
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT [FK_Productos_Departamentos]
GO
ALTER TABLE [dbo].[LineaArticulo] DROP CONSTRAINT [FK_LineaArticulo_Productos]
GO
ALTER TABLE [dbo].[LineaArticulo] DROP CONSTRAINT [FK_LineaArticulo_Facturas]
GO
ALTER TABLE [dbo].[Facturas] DROP CONSTRAINT [FK_Facturas_TipoMoneda]
GO
ALTER TABLE [dbo].[Facturas] DROP CONSTRAINT [FK_Facturas_FormaPago]
GO
ALTER TABLE [dbo].[Facturas] DROP CONSTRAINT [FK_Facturas_Clientes]
GO
/****** Object:  Index [unique_correo]    Script Date: 14/11/2017 13:23:22 ******/
ALTER TABLE [dbo].[Usuarios] DROP CONSTRAINT [unique_correo]
GO
/****** Object:  Index [UNIQUE_PROVEEDOR]    Script Date: 14/11/2017 13:23:22 ******/
ALTER TABLE [dbo].[Proveedores] DROP CONSTRAINT [UNIQUE_PROVEEDOR]
GO
/****** Object:  Index [UNIQUE_FACTURA]    Script Date: 14/11/2017 13:23:22 ******/
ALTER TABLE [dbo].[Facturas] DROP CONSTRAINT [UNIQUE_FACTURA]
GO
/****** Object:  Index [UNIQUE_Nombre]    Script Date: 14/11/2017 13:23:22 ******/
ALTER TABLE [dbo].[Departamentos] DROP CONSTRAINT [UNIQUE_Nombre]
GO
/****** Object:  Index [UNIQUE_CEDULA]    Script Date: 14/11/2017 13:23:22 ******/
ALTER TABLE [dbo].[Clientes] DROP CONSTRAINT [UNIQUE_CEDULA]
GO
/****** Object:  View [dbo].[lineaArticulosImpuestos]    Script Date: 14/11/2017 13:23:22 ******/
DROP VIEW [dbo].[lineaArticulosImpuestos]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  Table [dbo].[TipoMoneda]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[TipoMoneda]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[Proveedores]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[Productos]
GO
/****** Object:  Table [dbo].[LineaArticulo]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[LineaArticulo]
GO
/****** Object:  Table [dbo].[FormaPago]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[FormaPago]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[Facturas]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[Departamentos]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 14/11/2017 13:23:22 ******/
DROP TABLE [dbo].[Clientes]
GO
/****** Object:  User [UACA]    Script Date: 14/11/2017 13:23:22 ******/
DROP USER [UACA]
GO
USE [master]
GO
/****** Object:  Database [Facturacion]    Script Date: 14/11/2017 13:23:22 ******/
DROP DATABASE [Facturacion]
GO
/****** Object:  Database [Facturacion]    Script Date: 14/11/2017 13:23:22 ******/
CREATE DATABASE [Facturacion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Facturacion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Facturacion.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Facturacion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Facturacion_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Facturacion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Facturacion]
GO
/****** Object:  User [UACA]    Script Date: 14/11/2017 13:23:22 ******/
CREATE USER [UACA] FOR LOGIN [UACA] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UACA]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [nvarchar](255) NOT NULL,
	[NombreCompleto] [nvarchar](225) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](225) NOT NULL,
 CONSTRAINT [PK_Departamentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [nvarchar](225) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdFormaPago] [int] NOT NULL,
	[IdTipoMoneda] [int] NOT NULL,
	[Total] [numeric](18, 2) NOT NULL,
	[Pagado] [numeric](18, 2) NOT NULL,
	[Convertido] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FormaPago]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaPago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FormaPago] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LineaArticulo]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineaArticulo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[IdFactura] [int] NOT NULL,
	[Precio] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Productos]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](225) NOT NULL,
	[Costo] [int] NOT NULL,
	[Utilidad] [int] NOT NULL,
	[Impuesto] [int] NOT NULL,
	[Existencia] [int] NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[IdDepartamento] [int] NOT NULL,
	[Gravado] [bit] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](225) NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoMoneda]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMoneda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[TipoCambio] [numeric](18, 2) NOT NULL CONSTRAINT [DF_TipoMoneda_TipoCampo]  DEFAULT ((1)),
 CONSTRAINT [PK_TipoMoneda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](50) NOT NULL,
	[IdRol] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[lineaArticulosImpuestos]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[lineaArticulosImpuestos]
as
select p.Impuesto, p.Costo * sum(ln.Cantidad) Costos, sum(ln.Cantidad) Cantidades, 
( CONVERT(DECIMAL(18,2), p.Impuesto/100.0) * p.Costo ) * sum(ln.Cantidad) Total, f.Fecha
from LineaArticulo ln
inner join Facturas f on f.Id = ln.IdFactura
inner join Productos p on p.Id = ln.IdProducto
where p.Gravado = 1
group by p.Impuesto, p.Costo, f.Fecha

GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Cedula], [NombreCompleto]) VALUES (1, N'999999999', N'Cliente Contado')
INSERT [dbo].[Clientes] ([Id], [Cedula], [NombreCompleto]) VALUES (2, N'4343', N'Gerardo Sanchez ')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([Id], [Nombre]) VALUES (1, N'Abarrotes')
INSERT [dbo].[Departamentos] ([Id], [Nombre]) VALUES (2, N'Carniceria')
INSERT [dbo].[Departamentos] ([Id], [Nombre]) VALUES (8, N'Enlatados')
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([Id], [Numero], [Fecha], [IdCliente], [IdFormaPago], [IdTipoMoneda], [Total], [Pagado], [Convertido]) VALUES (13, N'3', CAST(N'2017-11-05 00:00:00.000' AS DateTime), 1, 1, 2, CAST(430.00 AS Numeric(18, 2)), CAST(2.00 AS Numeric(18, 2)), CAST(1146.00 AS Numeric(18, 2)))
INSERT [dbo].[Facturas] ([Id], [Numero], [Fecha], [IdCliente], [IdFormaPago], [IdTipoMoneda], [Total], [Pagado], [Convertido]) VALUES (14, N'2', CAST(N'2017-11-05 00:00:00.000' AS DateTime), 1, 1, 2, CAST(330.00 AS Numeric(18, 2)), CAST(2.00 AS Numeric(18, 2)), CAST(1146.00 AS Numeric(18, 2)))
INSERT [dbo].[Facturas] ([Id], [Numero], [Fecha], [IdCliente], [IdFormaPago], [IdTipoMoneda], [Total], [Pagado], [Convertido]) VALUES (15, N'32', CAST(N'2017-11-05 00:00:00.000' AS DateTime), 1, 1, 1, CAST(220.00 AS Numeric(18, 2)), CAST(300.00 AS Numeric(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
SET IDENTITY_INSERT [dbo].[FormaPago] ON 

INSERT [dbo].[FormaPago] ([Id], [Nombre]) VALUES (1, N'Contado')
INSERT [dbo].[FormaPago] ([Id], [Nombre]) VALUES (2, N'Credito')
SET IDENTITY_INSERT [dbo].[FormaPago] OFF
SET IDENTITY_INSERT [dbo].[LineaArticulo] ON 

INSERT [dbo].[LineaArticulo] ([Id], [IdProducto], [Cantidad], [IdFactura], [Precio]) VALUES (1031, 2, 2, 13, CAST(220.00 AS Numeric(18, 2)))
INSERT [dbo].[LineaArticulo] ([Id], [IdProducto], [Cantidad], [IdFactura], [Precio]) VALUES (1032, 3, 1, 13, CAST(210.00 AS Numeric(18, 2)))
INSERT [dbo].[LineaArticulo] ([Id], [IdProducto], [Cantidad], [IdFactura], [Precio]) VALUES (1033, 2, 3, 14, CAST(330.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[LineaArticulo] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Costo], [Utilidad], [Impuesto], [Existencia], [IdProveedor], [IdDepartamento], [Gravado]) VALUES (2, N'Arroz Sabanero', 100, 10, 1, 185, 1, 1, 0)
INSERT [dbo].[Productos] ([Id], [Nombre], [Costo], [Utilidad], [Impuesto], [Existencia], [IdProveedor], [IdDepartamento], [Gravado]) VALUES (3, N'Irex 2.5k', 200, 5, 15, 141, 2, 5, 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [Costo], [Utilidad], [Impuesto], [Existencia], [IdProveedor], [IdDepartamento], [Gravado]) VALUES (4, N'Arroz Puntilla', 2, 2, 2, 2, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id], [Nombre]) VALUES (1, N'Arrocera Sabanero')
INSERT [dbo].[Proveedores] ([Id], [Nombre]) VALUES (1006, N'Dos Pinos')
INSERT [dbo].[Proveedores] ([Id], [Nombre]) VALUES (2, N'Irex CR')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([Id], [Nombre]) VALUES (2, N'Cajero')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[TipoMoneda] ON 

INSERT [dbo].[TipoMoneda] ([Id], [Nombre], [TipoCambio]) VALUES (1, N'Colones', CAST(1.00 AS Numeric(18, 2)))
INSERT [dbo].[TipoMoneda] ([Id], [Nombre], [TipoCambio]) VALUES (2, N'Dolares', CAST(573.00 AS Numeric(18, 2)))
INSERT [dbo].[TipoMoneda] ([Id], [Nombre], [TipoCambio]) VALUES (3, N'Euros', CAST(675.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[TipoMoneda] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Email], [Clave], [IdRol]) VALUES (1, N'olgeragt@gmail.com', N'e201994dca9320fc94336603b1cfc970', 1)
INSERT [dbo].[Usuarios] ([Id], [Email], [Clave], [IdRol]) VALUES (2, N'davimont2009@hotmail.com', N'e201994dca9320fc94336603b1cfc970', 1)
INSERT [dbo].[Usuarios] ([Id], [Email], [Clave], [IdRol]) VALUES (3, N'keboca@gmail.com', N'e201994dca9320fc94336603b1cfc970', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_CEDULA]    Script Date: 14/11/2017 13:23:23 ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UNIQUE_CEDULA] UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_Nombre]    Script Date: 14/11/2017 13:23:23 ******/
ALTER TABLE [dbo].[Departamentos] ADD  CONSTRAINT [UNIQUE_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_FACTURA]    Script Date: 14/11/2017 13:23:23 ******/
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [UNIQUE_FACTURA] UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNIQUE_PROVEEDOR]    Script Date: 14/11/2017 13:23:23 ******/
ALTER TABLE [dbo].[Proveedores] ADD  CONSTRAINT [UNIQUE_PROVEEDOR] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [unique_correo]    Script Date: 14/11/2017 13:23:23 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [unique_correo] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_FormaPago] FOREIGN KEY([IdFormaPago])
REFERENCES [dbo].[FormaPago] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_FormaPago]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_TipoMoneda] FOREIGN KEY([IdTipoMoneda])
REFERENCES [dbo].[TipoMoneda] ([Id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_TipoMoneda]
GO
ALTER TABLE [dbo].[LineaArticulo]  WITH CHECK ADD  CONSTRAINT [FK_LineaArticulo_Facturas] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Facturas] ([Id])
GO
ALTER TABLE [dbo].[LineaArticulo] CHECK CONSTRAINT [FK_LineaArticulo_Facturas]
GO
ALTER TABLE [dbo].[LineaArticulo]  WITH CHECK ADD  CONSTRAINT [FK_LineaArticulo_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[LineaArticulo] CHECK CONSTRAINT [FK_LineaArticulo_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Departamentos] FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamentos] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Departamentos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedores] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Proveedores]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
/****** Object:  Trigger [dbo].[disparador_facturas_borrar]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[disparador_facturas_borrar]
on [dbo].[Facturas]
INSTEAD OF delete
as
  declare @id int
  select @id=d.Id from deleted d; 
begin
	delete from LineaArticulo
	where IdFactura = @id;

	delete from Facturas where Id=@id;
end

GO
/****** Object:  Trigger [dbo].[disparador_linea_actualiza]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[disparador_linea_actualiza]
on [dbo].[LineaArticulo]
after update
as
  declare @cantidad int
  declare @cantidadAnterior int
  declare @idProducto int
  select @cantidadAnterior=i.Cantidad from deleted i;
  select @cantidad=i.Cantidad from inserted i;
  select @idProducto=i.IdProducto from inserted i;
begin
	update Productos
	set Existencia = (Existencia + @cantidadAnterior) - @cantidad
	where Id = @idProducto
end

GO
/****** Object:  Trigger [dbo].[disparador_linea_borrar]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[disparador_linea_borrar]
on [dbo].[LineaArticulo]
for delete
as
  declare @cantidad int
  declare @idProducto int
  select @cantidad=i.Cantidad from deleted i;
  select @idProducto=i.IdProducto from deleted i;
begin
	update Productos
	set Existencia = Existencia + @cantidad
	where Id = @idProducto
end

GO
/****** Object:  Trigger [dbo].[disparador_linea_incluir]    Script Date: 14/11/2017 13:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[disparador_linea_incluir]
on [dbo].[LineaArticulo]
for insert
as
  declare @cantidad int
  declare @idProducto int
  select @cantidad=i.Cantidad from inserted i;
  select @idProducto=i.IdProducto from inserted i;
begin
	update Productos
	set Existencia = Existencia - @cantidad
	where Id = @idProducto
end

GO
USE [master]
GO
